/*
 * Copyright 2024 Pexip AS
 *
 * SPDX-License-Identifier: Apache-2.0
 */

.ErrorPanel {
  h3 {
    margin-bottom: 1em;
    text-align: center;
  }

  .container {
    margin-bottom: 1.5em;
    text-align: center;
  }
  
  button {
    width: 100%
  }
}