/*
 * Copyright 2024 Pexip AS
 *
 * SPDX-License-Identifier: Apache-2.0
 */

.Toolbar {
  display: flex;
  justify-content: center;
  
  .ToolbarButton {
    margin: 8px 4px;
    
    &>.__react_component_tooltip::before {
      // Avoid overlap with the bottom arrow
      z-index: -1;
    }
  }
}
