.SettingsPanel {
  [role=dialog]>div {
    display: flex;
    flex-direction: column-reverse;
    // Hide the noise suppression toggle
    &>div:nth-child(2)>label {
      display: none;
    }
    // Hide the part for selecting the quality
    &>div:first-child>div:first-child {
      &>h3, &>p, &>div:nth-child(4){
        display: none;
      }
    }
  }
}
