.SettingsPanel {
  [role=dialog]>div {
    display: flex;
    flex-direction: column-reverse;

    // Hide the noise suppression toggle
    &>div:nth-child(2)>label {
      display: none;
    }

    // Hide the part for selecting the quality
    &>div:first-child>div:first-child {
      min-height: 0;
      
      &>h3, &>p, &>div:nth-child(4){
        display: none;
      }
    }
    
    // Hide the audioInput selector
    &>div:first-child>div:first-child>div:first-child>div:first-child>div:nth-child(2) {
      display: none;
    }
  }
}
