.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #33383d;
  padding: 16px;
  height: calc(100% - 32px);
  gap: 16px;

  .self-view {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 22%;
    min-width: 300px;
    cursor: pointer;
    
    .Video {
      width: 100%;
      aspect-ratio: 16/9;
    }
  }

  .Toolbar {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}