.ToolbarButton {
  cursor: pointer;
  background-color: #111111a6;
  color: white;
  border: 0;
  border-radius: 4px;
  min-height: 36px;
  transition: background-color .3s ease;
  display: flex;
  align-items: center;

  >[data-id=tooltip] {
    display: none;
  }

  &:hover, &.selected {
    background-color: #fffc;
    color: #111;
  }

  &:hover > [data-id=tooltip] {
    display: block;
  }

  &.danger {
    background-color: red;
    
    &:hover {
      color: white;
      background-color: darkred;
    }
  }

}