.SelfView {
  display: contents;

  >div:first-child {
    top: var(--size-4);
    width: 20em;
    display: flex;
    justify-content: right;
  }

  // Workaround hide audio mute
  svg[data-token-name="IconMicrophoneOff_16"],
  div > div > div > div:has(svg[data-token-name="IconMicrophoneOff_24"]) {
    display: none;
  }
}
